<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_navbar'); %>
    <div class="main-container">
      <aside id="filtersContainer" class="aside p-2">
        <div class="search card">
          <label for="quickSearch">
            Quick search
            <input
              id="inputQuickSearch"
              type="text"
              class="search-input"
              name="quickSearch"
              placeholder="Search brand..."
            />
          </label>
          <button
            id="btnAll"
            type="button"
            class="btn btn-outline-primary search-button--hidden"
          >
            Clear
          </button>
        </div>
        <div id="brandFilters" class="card">
          <p>Choose phone brand</p>
        </div>
        <div id="priceFilters" class="card">
          <label for="minPrice">
            Enter minimum price
            <input type="number" id="minPrice" name="minPrice" />
          </label>
          <br />
          <label for="maxPrice">
            Enter maximum price
            <input type="number" id="maxPrice" name="maxPrice" />
          </label>
        </div>
        <div class="card">
          <p>
            Select property to sort by
            <select name="cars" id="sortProperties"></select>
          </p>

          <button id="btnAsc" type="button" class="btn btn-outline-primary">
            Sort ascending
          </button>
          <button id="btnDesc" type="button" class="btn btn-outline-primary">
            Sort descending
          </button>
        </div>
        <div id="availabilityFilters" class="card">
          <p>Choose availability</p>
        </div>
      </aside>
      <main class="main p-2">
        <h1><%= title %></h1>
        <ol class="list-group list-group-numbered">
          <% for(var i=0; i < productList.length; i++) {%>

          <li
            class="
              list-group-item
              d-flex
              justify-content-between
              align-items-start
            "
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= productList[i].name %></div>
              <%= productList[i].brand %>
            </div>
          </li>

          <% } %>
        </ol>
      </main>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
